!!!
html
    head
        title= "Controls"
        script(src='js/controls.js')
        script(src='/socket.io/socket.io.js')
    body
        #content 25
        .controls
            input#field(style='width:350px;')
            input#send(type='button', value='send')