!!!
html
    head
        title= 'Sensors'
        link(rel='stylesheet', href='/css/bootstrap.css')
        script(src='js/jquery.js')
    body
        .container
            .page-header
                h1 Sensor info
            .panel.panel-info
                .panel-heading
                    .panel-title Temperature sensors
                .panel-body                                
                    .row.show-grid
                        .col-md-4 
                            h3 30 C
                        .col-md-8 
                            p Additional info/Controls


            .panel.panel-info
                .panel-heading
                    .panel-title Weather sensors
                .panel-body
                    .row.show-grid
                        .col-md-4 
                            h3 Sunny, 25 C
                        .col-md-8 
                            p Additional info/Controls

            .panel.panel-info
                .panel-heading
                    .panel-title Woter sensors
                .panel-body
                    .col-md-4
                        h3 Water turned off
                    .col-md-8
                        p Additional info/Controls

            .footer
                p Footer info
            script(src='js/bootstrap.js')